.heading-caption {
  text-align: center;
  color:rgb(71, 255, 255);
  
}

h1 {
  font-family: 'Allerta Stencil', sans-serif;
  color: rgb(45, 255, 255);
  
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Allerta Stencil', sans-serif;
  

}

h2, h3, h4, p {
  font-family: 'Abhaya Libre', serif;
  
}

header {
  background-color: #2A2129;
  
}


.header-container {
  display: flex;
  padding: 20px 25px;
  gap: 50px;
  



}

#submit-btn {
  margin-top: 25px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: 1px solid rgb(185, 254, 254);
  border-radius: 5px;
  padding: 15px 20px;
  width: 25%;
  transition: 0.2s;
  
}

#submit-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  
}

label {
  font-weight: bold;
  text-align: start;

}

.heading {
  padding-bottom: 3px;
  
}

#task-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 90%;
  

}

@media (max-width: 767px) {
  #task-form {
    width: 100%;
    padding: 0;
    margin-top: 10px;
    
  } 
}

.task-sheet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  max-width: 780px;
  margin: 0 auto;
  
}

@media (max-width: 767px) {
  .task-sheet-container {
    width: 100%;
    margin: 0 auto;
    padding: 25px 25px;
  }
}

.links-container {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  

}

.header-img {
  width: 75px;
  border-radius: 50%;
  border: white 1px solid;
}

input, select {
  padding: 30px;
  border: solid 1px rgb(71, 255, 255);
  border-radius: 5px;
  
}

@media (max-width: 767px) {
  input, select {
    padding: 25px 10px 25px 10px;
    border: solid 1px rgb(71, 255, 255);
    border-radius: 5px;
 
  }
}

input:focus, select:focus {
  padding: 25px 10px 25px 20px;
  margin-top: 0;

  outline: none;
  border: solid 1px rgb(206, 251, 251);
}

#task-desc, #amount-harvested, #time-spent, #date-input,#speacies {
  margin: 0 5%;
  width: 100%;
}

#task-desc {
  height: 100px;
}



#date-input, #speacies {
  padding: 20px;
  
}


.labels {
  margin: 0;
  margin-bottom: 2px;
  margin-top: 15px;
  color: white;
  

}

@media (max-width: 767px) {
  .labels {
    margin: 10px 2px 0px 2px ;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
 #task-desc, #amount-harvested, #time-spent, #date-input,#speacies, button {
    margin: 10px 2px;
    padding: 25px;
  }
}

@media (max-width: 767px) {
  #speacies {
    padding: 25px;
  }
}

/* #task-desc, #amount-harvested, #time-spent, #date-input,#speacies, button {
  margin: 5px 5px;
} */

#task-desc, #amount-harvested, #time-spent, #date-input,#speacies, button 
{
  margin: 0;
}




.result-text {
  font-style: italic;
}

.result-text-results {
  font-weight: 100;
}


.result-test-results {
  color: rgb(185, 254, 254);
  font-weight: bold;
  font-style: normal;
  
}

#red {
  color: red;
}


.injected-html-div {
  padding: 25px;
  line-height: 22px;
  border: rgb(185, 254, 254) 2px solid;
  border-radius: 5px;
  font-size: 20px;
  background-color: black;
  color: white;
  width: 45%;
  
}

@media (max-width: 767px) {
  .injected-html-div {
    width: 100%;
  }
}

.new-froms-container {
  width: 100s;
  margin: 0px 25px;
  
}



.task-sheet-container {
  background-color: rgb(49, 49, 49);
  box-shadow: rgba(50, 50, 100, 1)

}

.form-result-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
  margin: 25px 0;
  max-width: 850px;
  

 }

 @media (max-width: 767px) {
  .form-result-container { 
    flex-direction: column;
    

  }
 }

 #total-amount-harvested {
  margin-top: 25px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(45, 255, 255) ;
 }