.heading-caption {
  text-align: center;
}

h1 {
  font-family: 'Allerta Stencil', sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Allerta Stencil', sans-serif;

}

h2, h3, h4, p {
  font-family: 'Abhaya Libre', serif;
}

header {
  background-color: #2A2129;
}


.header-container {
  display: flex;
  padding: 20px 25px;
  gap: 50px;



}

#submit-btn {
  margin-top: 25px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: 1px solid goldenrod;
  border-radius: 5px;
  padding: 15px 20px;
  width: 25%;
  transition: 0.2s;
}

#submit-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

label {
  font-weight: bold;
  text-align: start;
}

.heading {
  padding-bottom: 3px;
}

#task-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 90%;

}

@media (max-width: 767px) {
  #task-form {
    width: 100%;
    padding: 0;
    margin-top: 10px;
  } 
}

.task-sheet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 100vh;
  max-width: 750px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .task-sheet-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 25px 25px;
  }
}

.links-container {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

}

.header-img {
  width: 75px;
  border-radius: 50%;
  border: white 1px solid;
}

input, select {
  padding: 30px;
  border: solid 1px goldenrod;
}

@media (max-width: 767px) {
  input, select {
    padding: 25px 10px 25px 10px;
    border: solid 1px goldenrod;
    border-radius: 5px;
  }
}

input:focus, select:focus {
  padding: 25px 10px 25px 20px;
  margin-top: 0;
  outline: none;
  border: solid 1px rgb(232, 209, 153);
}

#task-desc, #amount-harvested, #time-spent, #date-input,#speacies {
  margin: 0 5%;
  width: 100%;
}

#task-desc {
  height: 100px;
}

.input-body {
  margin-top: 20px;
}

#task-title {
  padding: 11px;
}

#date-input, #speacies {
  padding: 20px;
}


.labels {
  margin: 0;
  margin-top: 15px;

}

@media (max-width: 767px) {
  .labels {
    margin: 10px 2px 0px 2px ;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
 #task-desc, #amount-harvested, #time-spent, #date-input,#speacies, button {
    margin: 10px 2px;
    padding: 25px;
  }
}

@media (max-width: 767px) {
  #speacies {
    padding: 25px;
  }
}

/* #task-desc, #amount-harvested, #time-spent, #date-input,#speacies, button {
  margin: 5px 5px;
} */

#task-desc, #amount-harvested, #time-spent, #date-input,#speacies, button 
{
  margin: 0;
}


.analictis {
  margin-top: 35px;
}

.privious-logs-container {
  display: flex;
  flex-direction: column;
  max-width: 85%;
  margin:  0 5%;
}

@media (max-width: 767px) {
  .privious-logs-container {
    margin: 10px;

  }
}

.result-text {
  font-style: italic;
}

.result-text-results {
  font-weight: 100;
}

.logged-text {
  text-align: center;
}

.result-test-results {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-style: normal;
}

#red {
  color: red;
}


.injected-html-div {
  padding: 25px;
  line-height: 22px;
  border: goldenrod 2px solid;
  border-radius: 5px;
  font-size: 20px;
}

.new-froms-container {
  width: 93vw;
  margin: 0px 25px;
}



.task-sheet-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.form-result-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
  margin: 25px 0;

 }

 #total-amount-harvested {
  margin-top: 25px;
  font-weight: bold;
  font-size: 25px;
 }